body {
    background-color:#f7d0ec;
}

h1 {
    color: white;
    font-family: "Lucida", monospace;
    font-size: 50px;
}

h2 {
    color:#af50f2;
    font-family: "Lucida", monospace;
    font-size: 40px;
}

p {
    font-family: "Lucida", "Courier", monospace;
    font-size: 20px;
}

.navbar{
    font-family: "Lucida", monospace;
    font-size: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

a {
    color: #af50f2;
    text-decoration: none;
}

a:hover {
    color: #f7d0ec;
    text-decoration: underline;
}

a:visited {
    color: #d28bf7;
}

a#specific:hover {
    color: #ff69b4;
    text-decoration: underline;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.header h1 {
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.leftcontainer {
    text-align: center;
    background-color: white;
    width: 65%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.rightcontainer {
    text-align: center;
    background-color: white;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.questions{
    font-family: "Lucida", monospace;
    background-color: #af50f2;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .leftcontainer, .rightcontainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .header h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}