<title>{{ title }}</title>

<div class="navbar">
    <!-- navigation bar -->
    <a href="index">Home</a>
    <a id="active" href="about">About</a>
    <a href="events">Events</a>
    <a href="exec">Meet the Exec</a>
    <a href="contact">Contact Us</a>
</div>

<br>

<div class="content">
    <div class="fullContent">
        <div id="historyButtons">
            <button type="button" class="questions btn">History</button>
            <button type="button" class="questions btn">Mission Statement/Values</button>
        </div>
        <div id="details">
        </div>
    </div> 
</div>
<!-- jQuery script include -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="about.js"></script>