<title>{{ title }}</title>

<div class="navbar">
    <!-- navigation bar -->
    <a href="index">Home</a>
    <a href="about">About</a>
    <a id="active" href="events">Events</a>
    <a href="exec">Meet the Exec</a>
    <a href="contact">Contact Us</a>
</div>

<br>

<div class="content">
    <div class="eventContent">
        <div id="meetings">
            <img id="meeting1" src="product_meeting.png" alt="product/project management meeting">
            <img id="meeting2" src="murder_meeting.png" alt="murder mystery meeting">
            <img id="meeting3" src="leetcode_meeting.png" alt="leetcode meeting">
        </div>
        <div id="details">
            <p>Click on a meeting to learn more!</p>
        </div>
    </div>
</div>

<script src="events.js"></script>