<title>{{ title }}</title>

<div class="navbar">
    <!-- navigation bar -->
    <a href="index">Home</a>
    <a href="about">About</a>
    <a href="events">Events</a>
    <a id="active" href="exec">Meet the Exec</a>
    <a href="contact">Contact Us</a>
</div>

<br>

<p id="execClick">Click to know more!</p>

<div class="container-fluid">
    <!-- <div class="exec"> -->
        <div class="row">
            <div class="exec col-sm-2">
                <img id="president" src="pres_exec.jpeg" alt="pres_photo">
                <h2>President</h2>
                <div class="details">

                </div>
            </div>
            <div class="exec col-sm-2">
                <img id="vp" src="vp_exec.png" alt="vp_photo">
                <h2>Vice President</h2>
                <div class="details">

                </div>
            </div>
            <div class="exec col-sm-2">
                <img id="treasurer" src="treasurer_exec.png" alt="treasurer_photo">
                <h2>Treasurer</h2>
                <div class="details">

                </div>
            </div>
            <div class="exec col-sm-2">
                <img id="secretary" src="secretary_exec.jpeg" alt="secretary_photo">
                <h2>Secretary</h2>
                <div class="details">

                </div>
            </div>
        </div>
    <!-- </div> -->
</div>

<script src="exec.js"></script>