<title>{{ title }}</title>


<div class="navbar">
    <!-- navigation bar -->
    <a id="active" href="index">Home</a>
    <a href="about">About</a>
    <a href="events">Events</a>
    <a href="exec">Meet the Exec</a>
    <a href="contact">Contact Us</a>
</div>

<br>

<div class="content">
    <div class="homeLeft">
        <p>
            The Society for Women in Computing is dedicated to building a community of technical women and their allies 
            at the University of Rhode Island and beyond. We hope to provide a supportive environment for women in 
            technical fields to find resources, network, and grow as professionals.
        </p>

        <button class="questions btn" type="button">When do we meet?</button>
        <button class="questions btn" type="button">How to contact us?</button>
        <p id="questionText"></p>

    </div>

    <br>

    <div class="homeRight">
        <h2>Upcoming Events</h2>
        <p>Our next meeting is on Thursday, February 13th from 6:30-7:30PM in Bliss Hall Room 290. We will be celebrating 
            Galentine's Day with a fun craft and some snacks! We hope to see you there!</p>
        <img src="galentines.png" alt="Next meeting photo" width="300">
        <button class="btn" id="moreEvent" type="button">See More Events</button>
    </div>
</div>

<!-- jQuery script include -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- Load in AJAX Script -->
<script src="index_load.js"></script>

<!-- Personal JavaScript -->
<script src="home.js"></script>