h1 {
    color: red;
    font-style: italic;
}

h2{
    color:hotpink;
}

h3{
    color:lightcoral;
}

#para1{
    font-size: 20px;
    text-align: center;
}

body {
    background-color: lightblue;
}